@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Roboto&display=swap');

:root {
  --header: 'Josefin Sans', sans-serif;

  --gray: #6e6e6e;
  --orange: #bd4c0a;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.main {
  position: relative;
  overflow-x: hidden;
}

/* NAVBAR */

.navBar {
  display: block;
  background: #fff;
  border-bottom: 2px solid #000;
  width: 99vw;
  padding: 15px 10px 10px;
  position: fixed;
  top: 0;
}

#brand {
  display: inline-block;
}
#brand a {
  font-family: var(--header);
  font-size: 25px;
  text-decoration: none;
  color: #000;
}

#menu {
  float: right;
  padding-right: 20px;
}
#menu a {
  margin: 0 10px;
  font-family: var(--header);
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 5px;
  transition: all 0.2s;
}
#menu a:hover {
  background: var(--gray);
  color: #fff;
}

/* FOOTER */

.footer {
  border-top: 2px solid var(--gray);
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--gray);
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 12px;
  cursor: default;
}

/* MAIN HEADER - https://www.pexels.com/photo/woman-in-yellow-and-black-sleeveless-shirt-wearing-black-and-white-cap-4389987/ */

.header {
  background: url("../images/pexels-darlene-alderson-4389987.jpg") 20% 20%/cover;
  background-repeat: no-repeat;
  width: 90vw;
  height: 85vh;
  margin: 80px auto;
}

#blurb {
  color: #fff;
  position: relative;
  top: 40%;
  left: 10%;
  overflow: visible;
  font-size: 20px;
  cursor: default;
}
#head {
  display: block;
  font-family: var(--header);
  font-size: 80px;
  margin-left: -60px;
}

/* ITEM BLOCKS */

#product-section {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  overflow: clip;
}

.subsection {
  margin-top: 100px;
}

.item-block {
  display: inline-block;
  width: 300px;
  height: 400px;
  margin: 5px;
  box-shadow: 2px 2px 4px var(--gray);
}
.item-block span {
  display: block;
  padding: 5px 0;
  cursor: pointer;
}
.item-block:hover #item-name {
  background: var(--gray);
  color: #fff;
}

#item-image {
  width: 250px;
  height: 250px;
  margin: 10px auto 0;
}
.item-block:hover #item-image{
  background-size: cover !important;
}

#item-name {
  color: #000;
  font-size: 18px;
  margin: 20px 0;
  transition: all 0.2s;
}

#item-price {
  font-weight: bold;
  font-size: 20px;
  color: var(--orange);
}

/* PRODUCT PAGE */

.prodMain {
  width: 95vw;
  margin: 80px auto 0;
  display: flex;
  flex-direction: row;
  overflow: visible !important;
}

#prodImage {
  align-self: flex-end;
  box-shadow: 2px 2px 4px var(--gray);
  height: 30vw;
  max-height: 400px;
  width: 30vw;
  max-width: 350px;
  border: 10px solid transparent;
  margin-right: 40px;
}
#prodImage:hover {
  background-size: cover !important;
}

#prodInfo {
  margin: 100px auto 0;
  width: 40vw;
  cursor: default;
}

#prodName {
  font-family: var(--header);
  font-size: 50px;
  display: block;
  margin: 0 0 10px -30px;
}

#prodDesc {
  margin-bottom: 10px;
  display: block;
  max-width: 500px;
  text-align: justify;
}

#prodPrice {
  font-size: 30px;
  color: var(--orange);
}

.quantity {
  margin: 20px 0;
}

.quantity input {
  font-size: 20px;
  margin: 0 10px;
  width: 80px;
  border: 1px solid var(--gray);
  border-radius: 3px;
}

.quantity button {
  font-size: 20px;
  width: 50px;
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}
.quantity button:hover {
  background: var(--gray);
  color: #fff;
}


/*
Items almost grayscale before (quickly) full color on hover
  full color on mobile
Full width header image with navbar above it
  navbar is sticky on every page
Color scheme is simple off-white, dark-grey

font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;

MAKE IT MOBILE FRIENDLY
*/